<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud app</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="header">
        <nav>
            <div class="flex-container" id="first">
                <div class="text-title">
                    <a href="/" class="nav-hat-title">User Management System</a>
                </div>
            </div>
        </nav>
    </header>