<tr>
    <td>1</td>
    <td>UserName</td>
    <td>01.01.2001</td>
    <td>Male</td>
    <td>hello12345@gmail.com</td>
    <td>Active</td>
    <td class="act-btns">
        <a href="#" class="update-btn">
            <img src="/img/edit.png" alt="pencil" class="icon pen">
        </a>
        <a href="#" class="delete-btn">
            <img src="/img/bin.png" alt="bin" class="icon bin">
        </a>
    </td>
</tr>