<%- include('partitions/header.ejs') %>

<main class="mainpart">
    <div class="container" id="second">
        <div class="child_container">
            <a href="/addUser" class="butwrap">
                <span class="useradd">New User</span>
                <img src="/img/user.png" alt="user" class="icon user">
            </a>
        </div>
        <form action="/" method="POST">
            <table class="userslist">
                <thead class="dark-head">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>@mail</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <%- include('partitions/tableList.ejs') %>

                </tbody>
            </table>
        </form>
    </div>
</main>

<%- include('partitions/footer.ejs') %>