<%- include('partitions/header.ejs') %>

<main class="mainpart">
    <div class="container" id="second">
        <div class="child-container">
            <div class="filter">
                <a href="/" class="all-users">
                    <img src="/img/left-arrow.png" alt="arrow" class="icon arrow">
                    <span class="useradd">All Users</span>
                </a>
            </div>
        </div>
        <div class="form-title t-a-c">
            <h2>Change information about User</h2>
            <span class="create-user-descr">Use the below form to update your account</span>
        </div>
        <form method="POST" id="update_user">

            <%- include('partitions/form.ejs') %>

        </form>
    </div>
</main>

<%- include('partitions/footer.ejs') %>